body{
    background-color:#000000;
    color:#EBFFDC;
}
header{
background-color:aquamarine
color :#000000 ;
}
section{
    background-color: blue;
    color: yellow
}
foosteer{
    background-color : gray;
    color:white:
}